*.bpl
*.identcache
*.stat
*.dsk
Component/__history/
Package/__history/
*.dcu
Source/__history/
*.local
Source/OTA/__history/
Source/__recovery/
Demos/Tests/__history/
*.exe
Demos/Tests/Android/Debug/
Demos/Tests/AndroidManifest.template.xml
Demos/Tests/TestPermission.deployproj
Package/AndroidManifest.template.xml
Demos/Tests/Android64/
Source/Component/__history/
Novas Propriedades no MobilePermissions.txt
